body{
    
    h1{
        font-family: "Times New Roman", serif;
        color: limegreen;
        font-size: 28px;
    }

    h2{
        font-family: "Times New Roman", serif;
        color: limegreen;
        font-size: 22px;
    }
    
    margin: 0px 10% 2%; 
    
    p{
        text-align: justify;
        font-family: "Arial", sans-serif;
        font-size: 14px;
    }

    blockquote{
        text-align: justify;
        margin: 0px 60px;
    }

}